/* src/components/MovieCard.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  padding: 400px 20px 20px 20px;
  background-color: #f0f0f0;
  
}

.movie-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  color: black;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.movie-card img {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ccc;
}

.movie-info {
  padding: 10px;
}

.movie-info h2 {
  font-size: 0.9rem;
  margin: 10px 0 5px;
}

.movie-info p {
  font-size: 0.7rem;
  color: #555;
}

/* Media Queries */
@media (max-width: 768px) {
  .movie-list {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}

@media (max-width: 480px) {
  .movie-list {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    padding-top: 100px
  }
  
}
