/* src/App.css */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  padding: 1600px 20px 20px 20px;
  overflow: visible;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  flex-grow: 1; 
}

@media (max-width: 1200px) {
  .container {
    padding-top: 600px; 
  }
}

@media (max-width: 768px) {
  .container {
    padding-top: 300px; 
  }
}

@media (max-width: 480px) {
  .container {
    padding-top: 100px; 
  }
}