/* src/App.css */
.app {
  display: flex;
  flex-direction: column;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 80px 20px 20px;
  background-color: #f0f0f0;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .movie-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .movie-list {
    grid-template-columns: 1fr;
  }
}

.content {
  width: 100%;
  height: 100%;
}
